DB_URL=jdbc:postgresql://ep-fancy-paper-a4o49w04-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
DB_USERNAME=neondb_owner
DB_PASSWORD=npg_jELthWH1p7ne
FLYWAY_ENABLED=false
JPA_DDL_AUTO=update
ADMIN_MOBILE=9886025999
ADMIN_PASSWORD=godisgreat
JWT_SECRET=8dF3kL9xQ2mZ7vT1aR6yU4nH0cW5bE8sD3jX9kP2qL7tV1z
JWT_EXPIRY_MINUTES=1440
BUSINESS_PHONE=+919886025999
BUSINESS_MAPS_URL=https://maps.app.goo.gl/b8LTGr4MbHqsaasTA
